<%- include('../../partials/head') %>

    <main class="grid grid-cols-1 md:grid-cols-2 h-screen">
        <!-- Nama Aplikasi Start -->
        <div class="text-center grid grid-rows-none content-center p-10 text-black" 
        style="background-image: url('/public/images/login-bg.png');">
            <h1 class="text-5xl font-bold mb-5">NAMA APLIKASI</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <!-- Nama Aplikasi End -->

        <!-- Form Login Start -->
        <div class="grid grid-rows-none content-center p-10 text-black">
            <div class="flex justify-center">
                <form class="w-full lg:w-[32rem]" action="/auth/login" method="POST">
                    <h1 class="text-2xl font-semibold mb-4">Selamat Datang Admin</h1>
                    <p class="text-sm text-gray-400 mb-4">Silahkan masukkan email atau nomor telepon dan password
                        Anda untuk mulai menggunakan aplikasi</p>
                    <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email / Nomor Telepon</label>
                    <input type="string" id="email" name="emailPhone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Contoh: admin@admin.com" required>
                    </div>
                    <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Masukkan Password" required>
                    </div>
                    
                    <div class="flex justify-center">
                        <button type="submit" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm sm:w-auto px-40 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Masuk</button>
                    </div>
                    
                </form>
  
            </div>
        </div>
        <!-- Form Login End -->
    </main>

<%- include('../../partials/foot') %>