</body>
<!-- <script src="../path/to/flowbite/dist/flowbite.min.js"></script> -->
<script type="module" src="/public/js/index.js"></script>
<script src="/flowbite/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<!-- <script src="public/js/flowbite.min.js"></script> -->
</html>