<div class="bg-white border border-gray-200 rounded-lg w-[15rem] hover:shadow-lg hover:shadow-gray-400 mx-1">
    <a href="#" class="flex justify-center pt-10">
        <img class="rounded-t-lg" src="<%= data.imageUrl %>" alt="" />
    </a>
    <div class="p-5 pt-14">
        <h3 class="font-bold mb-8"><%= data.name %></h3>
        <p class="font-bold text-blue-500">
            <%= data.priceRupiah %>
        </p>
    </div>
</div>
