<!-- NAVBAR START -->
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex gap-2">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
        <a href="/dashboard" class="flex items-center">
            <img src="/public/images/vascomm-logo.png" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vascomm</span>
        </a>
    </div>
    
    <div class="flex items-center md:order-2">
        <div class="mx-4">
            <p class="text-sm text-blue-600">Halo Admin</p>
            <p>Cloudias Imani</p>
        </div>
        <button type="button" class="flex mr-3 text-sm bg-gray-300 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <div class="w-8 h-8 rounded-full">
                <iconify-icon icon="material-symbols:person" width="25"></iconify-icon>
            </div>
            <!-- <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo"> -->
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
            <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
            </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<!-- NAVBAR END -->

<!-- NAVSIDE START -->
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
       <ul id="contain-navside" class="space-y-2 font-medium">
          <li id="dashboard">
             <a href="/admin/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <iconify-icon icon="material-symbols:dashboard" width="25" style="color: gray;"></iconify-icon>
                <span class="ml-3">Dashboard</span>
             </a>
          </li>
          <li id="manage-user">
             <a href="/admin/manage-user" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <iconify-icon icon="ph:user-duotone" width="25" style="color: gray;"></iconify-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Managemen User</span>
             </a>
          </li>
          <li id="manage-product">
             <a href="/admin/manage-product" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                <iconify-icon icon="gg:notes" width="25" style="color: gray;"></iconify-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Managemen Product</span>
             </a>
          </li>
       </ul>
    </div>
 </aside>
 <!-- NAVSIDE END -->
  