<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-evenly">

    <div class="flex flex-col items-center bg-cover bg-no-repeat bg-white border border-gray-200 rounded-lg shadow md:flex-row h-32" style="background-image: url('/public/images/bg-card-dashboard.png');">
        <div class="flex flex-col justify-between p-8 leading-normal">
            <h5 class="mb-2 text-gray-700">Jumlah User</h5>
            <div>
                <span class="text-5xl text-gray-900"><%= data.totalUser %></span>
                <span class="text-lg text-gray-900">User</span>
            </div>
            
        </div>
    </div>

     <div class="flex flex-col items-center bg-cover bg-no-repeat bg-white border border-gray-200 rounded-lg shadow md:flex-row h-32" style="background-image: url('/public/images/bg-card-dashboard.png');">
        <div class="flex flex-col justify-between p-8 leading-normal">
            <h5 class="mb-2 text-gray-700">Jumlah User Aktif</h5>
            <div>
                <span class="text-5xl text-gray-900"><%= data.totalUserActives || 0 %></span>
                <span class="text-lg text-gray-900">User</span>
            </div>
            
        </div>
    </div>

    <div class="flex flex-col items-center bg-cover bg-no-repeat bg-white border border-gray-200 rounded-lg shadow md:flex-row h-32" style="background-image: url('/public/images/bg-card-dashboard.png');">
        <div class="flex flex-col justify-between p-8 leading-normal">
            <h5 class="mb-2 text-gray-700">Jumlah Produk</h5>
            <div>
                <span class="text-5xl text-gray-900"><%= data.totalProduct || 0 %></span>
                <span class="text-lg text-gray-900">Produk</span>
            </div>
            
        </div>
    </div>

    <div class="flex flex-col items-center bg-cover bg-no-repeat bg-white border border-gray-200 rounded-lg shadow md:flex-row h-32" style="background-image: url('/public/images/bg-card-dashboard.png');">
        <div class="flex flex-col justify-between p-8 leading-normal">
            <h5 class="mb-2 text-gray-700">Jumlah Produk Aktif</h5>
            <div>
                <span class="text-5xl text-gray-900"><%= data.totalProductActive || 0 %></span>
                <span class="text-lg text-gray-900">produk</span>
            </div>
            
        </div>
    </div>

</div>